<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>controller.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>billytran</servlet-name>
        <jsp-file>/implicitobject.jsp</jsp-file>  
        <init-param>  
            <param-name>dname</param-name>  
            <param-value>sun.jdbc.odbc.JdbcOdbcDriver</param-value>  
        </init-param>  
        <servlet-class>controller.demo</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>billytran</servlet-name>
        <url-pattern>/demo</url-pattern>
    </servlet-mapping>
    <context-param>  
        <param-name>dname</param-name>  
        <param-value>sun.jdbc.odbc.JdbcOdbcDriver</param-value>  
    </context-param>  
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>        
        <welcome-file>index.html</welcome-file>
        <welcome-file>declaration.jsp</welcome-file>
    </welcome-file-list>
</web-app>
